.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  .dropdown-item .icon {
    margin-left: 5px;
  }

  nav .navbar-brand,
  nav h3 {
    letter-spacing: 0.5rem;
    font-family: "MuseoModerno", sans-serif;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 5px
  }

  /*  */

  .support-section {
    margin-top: 5rem; /* Adjust as needed */
  }

  .horizontal-card {
    margin: 15px; /* Adjust the value as needed */
    max-width: 400px; /* Ensure the cards are square */
    margin-left: auto;
    margin-right: auto;
  }

  .horizontal-card .card-img {
    width: 100%;
    height: auto;
  }