/* index.html */
.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .dropdown-item .icon {
    margin-left: 5px;
  }

  nav .navbar-brand{
    letter-spacing: 0.5rem;
    font-family: "MuseoModerno", sans-serif;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 5px;
  }

  header {
    margin-top: 4rem;
  }
  
  .carousel-indicators [data-bs-target] {
    background-color: #000;
    border-radius: 50%;
    width: 12px;
    height: 12px;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .card-section {
    padding: 60px 0;
  }

  section .card {
    border: none; 
    background-color: transparent;
    box-shadow: none; 
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .card-body {
    margin-top: 5px;
    padding: 0; 
  }
  
  .explore-section a {
    margin-top: -5px;
    color: #6c757d;
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }

  /* About.html */

  .about-section {
    padding-top: 80px;
  }

  .support-section {
    margin-top: 5rem;
  }

  .horizontal-card {
    margin: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .horizontal-card .card-img {
    width: 100%;
    height: auto;
  }

   /*  */
  .mission-vision-section .container {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  
  .mission-vision-section .img-fluid {
    border-radius: 10px;
  }
  
  .mission-vision-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .mission-vision-section p.lead {
    font-size: 1.25rem;
  }


  /* Shop page */

  .shop-section {
  padding-top: 80px; /* Adjust based on the height of your navbar */
}

.preview-section {
  display: none; /* Hide the preview section initially */
}

.preview-section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.preview-section h3,
.preview-section p {
  text-align: left; /* Adjust as per your design */
}

.preview-section .price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-section .price-quantity .quantity {
  max-width: 70px;
}


  @media (max-width: 768px) {
    .card-img-top {
      max-width: 100%;
    }
  }